.food-item-image{
    cursor:pointer;
    border-radius:18px;
    width:120%;
    transition:transform.2s;
}
.food-item-image:hover {
    transform: scale(1.2); 
  }
.food-rating{
    font-size:28px;
    font-family:serif;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    margin-left:2px; 
}
.food-item-descr{
    font-size:19px;
}
.food-item-price{
    font-size:20px;
    font-weight:bold;
}

.add_icon{
    cursor:pointer;
}
.remove_icon{
    cursor:pointer;
}
.addition{
    cursor:pointer;
}
.addremicons{
    display:flex;
    gap:20px;
}
#itemcount{
    font-size:16px;
    font-weight:10px;
}